src/Periodical.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="paper">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="periodical" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="title"/>
                            <xs:element name="type">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="newspaper"/>
                                                    <xs:enumeration value="booklet"/>
                                                    <xs:enumeration value="journal"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element type="xs:string" name="glossy"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:integer" name="id_type" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="monthly"/>
                            <xs:element type="xs:string" name="color"/>
                            <xs:element name="pages">
                                <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                         <xs:minInclusive value="1"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element  name="index">
                                <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                        <xs:pattern value ="[0-9][0-9][0-9][0-9][0-9]"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:integer" name="id" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>